<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- header -->
    <div class="wrapper row1">
        <header id="header" class="clear">
            <a href='@Url.Action("Index", "Home")'>
                <div id="hgroup">
                    <img src="~/Content/Images/umbrella_logo.png" />
                </div>
                <div id="hgroup">
                    <h1>Fast Forecast</h1>
                    <h2>Simple & Precise & Fast</h2>
                </div>
            </a>
            <nav>
                <ul>
                    <li><a href='@Url.Action("Index", "Home")'>Home</a></li>
                    <li><a href='@Url.Action("Index", "City")'>Manage cities</a></li>
                    <li class="last"><a href='@Url.Action("Index", "History")'>Previous requests</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <!-- / header -->

    <div class="wrapper row2"> 
        <div id="content">
            @RenderBody()
        </div>
    </div>

    <div class="wrapper row3">
        <!-- footer -->
        <footer id="footer">
            <div class="footer_inner_left">
                <p>&copy; Fast Forecast @DateTime.Now.Year</p>
                <p>Simple, precise and fast weather service,</p>
                <p>which gives you weather forecast for any place</p>
            </div>
            <div class="footer_inner_right">
                <p>330 Franklin Road, Suite 135A, Brentwood, TN 37027-5237</p>
                <p>Phone: 615.555.5555, Fax: 615.555.5556</p>
                <p>info@fastforecast.com</p>
            </div>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
